@charset "utf-8";

.gallery{
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
  /*background-color: #f1f2f2;
  background-color: #6A5ACD;*/
  background-color: #483D8B;
}

.gallery-heading{
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  color: white;
  /*color: #204056;*/
}

.gallery-inner{
  padding: 50px 0;
}

.grid-row > div{
  display: inline-block;
}

.col-3{
  width: 20%;
}

.gallery-item{
  position: relative;
  height: 350px;
  padding: 40px;
  text-align: center;
  margin: 15px;
  /*background-color: #39d1b4;*/
  color: white;
}

.gallery-title{
  color: white;
  font-size: 30px;
}

.gallery-image{
  margin-bottom: 50px;
}

.gallery-cover{
  position: absolute;
  color: black;
  /*top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);*/
  padding: 50px 20px;
  font-size: x-large;
}

.gallery-img{
  width: 100%;
}

.gallery02{
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
  /*background-color: #f1f2f2;
  background-color: #FF6347;*/
  background-image: url(img/spaceimg03.png);
  
}

.gallery03{
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
  /*background-color: #f1f2f2;
  background-color: #00008B;*/
  background-image: url(img/recordimg01.jpeg);
  background-size: cover;
}
